# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `cargo test`
*.d

# Build directory
/target/

# Rust/Cargo related files
**/*.rs.bk
Cargo.lock

# Other artifacts and settings
*.log
*.tmp
*.swp
